<!-- Campo de Búsqueda -->


<!-- Formulario para añadir nueva persona -->
<div class="input-group mb-3 row p-3">
  
  <div class="col-12 pb-3">
    <input class="search-input" type="text" [(ngModel)]="nombreBusqueda" (keyup)="0" placeholder="Buscar por nombre/ID...">
  </div>

  <div class="col pb-3">
    <input type="text" [(ngModel)]="nuevoNombre" placeholder="Nombre">

  </div>
  <div class="col pb-3">
    <input type="number" [(ngModel)]="nuevosPuntos" placeholder="Puntos">

  </div>
  <div class="col-12">
    <button class="btn btn-primary add-btn" (click)="agregarPersona(nuevoNombre, nuevosPuntos)">Añadir Persona</button>

  </div>
</div>

<table>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Puntos</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let persona of personasFiltradas">
    <td>{{ persona.id }}</td>
    <td>{{ persona.nombre }}</td>
    <td>
        <button class="btn btn-secondary" (click)="decrementarPuntos(persona.id)">-</button>
        {{ persona.puntos }}
        <button class="btn btn-secondary" (click)="incrementarPuntos(persona.id)">+</button>    
    </td>
    <td>
      <button
        class="btn btn-warning"
        (click)="modificarPersona(persona.id, persona.nombre, persona.puntos)"
      >
        Modificar
      </button>
    </td>
  </tr>
</table>

<app-editar-persona-modal (personaEditando)="personaSeleccionada" (cambiosGuardados)="actualizarPersona($event)"></app-editar-persona-modal>
